/* structural */

body {
	margin: 0px;
	padding: 0px;
}
/* style */

table tr td div#RandomQuote_FortuneCookies p {
	margin: 0;
	padding: 3px;
}

h1, h2, h3, h4, h5 {
	margin-left: -1em;
	padding: 3px 3px 3px 3px;
}

a {
	text-decoration: none;
}

a:link {
	text-decoration: none;
	color: #000066;
}

a:active, a:hover {
	text-decoration: underline;
	color: #0000ff;
}

a:visited {
	text-decoration: none;
	color: #660066;
}

#hdr {
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 48px;

	background: url("http://www.gnome.org/img/hdr/hills01.jpg") no-repeat;
	background-color: #e3ffc3;
	background-position: left;
	
	border-bottom: 1px solid #807d74;
}

#title h1 {
	margin: 0px;
	padding: 7px 7px 7px 7px;
	font-size: 28px;
}

#title h1 a {
	text-decoration: none;
	color: black;
}

#iconbar {
	position: absolute;
	top: 3px;
	right: 5px;
}

#username {
	position: absolute;
	top: 16px;
	right: 5px;
}

#username a {
	font-size: 12px;
	color: black;
	text-decoration: none;
}

#navibar, ul#pagetrail {
	margin: none;
	border: none;
	padding: none;
	padding-left: 10px;
	background: none;
	
	font-size: small;
}

#navibar li {
	margin: none;
	border: none;
	padding: none;
	background: none;
}

ul#pagetrail {
	padding-bottom: 10px;
}

hr#pagetrail {
	display: none;
}

#body {
	margin: 0px 10px 0px 10px;
	padding: none;
}

#body *:first-child {
	margin-top: 0px;
}

#body {
	margin-left: 2em;
}

#body h1, #body h2, #body h3, #body h4, #body h5 {
	background-color: #cccccc;
}

#footer {
	border: none;
	border-top: 1px solid #cccccc;
	background-color: #eeeeee;
}

